.biggest-container {
  background-image: url(background.png);
  background-size: contain;
  color: #2a3d63;
}
.big-container {
  max-width: 70%;
  background-color: #fdf5e5;
  display: block;
  margin: 0 auto;
}

img.header {
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 30px;
}
.programm {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.row {
  justify-content: center;
}
.program-icon {
  height: 50px;
  display: block;
  margin: 0 auto;
}
.programm-listing {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.programm-timing {
  font-family: "Great Vibes", cursive;
  font-size: 20px;
}

.debutants {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.couple-name {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}

.debutants-video-cs {
  max-width: 100%;
  border: 1px solid #6b7c93;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #9fadc0;
  display: block;
  margin: 0 auto;
}

.partners {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.partners-logos {
  max-width: 100%;
}

.buy-ticket-button {
  width: fit-content;
  display: block;
  margin: 50px auto;
  padding: 15px 25px;
  font-family: "Cormorant SC", serif;
  font-size: 25px;
  background-color: #2a3d63;
  border: 1px solid #2a3d63;
  border-radius: 35px;
  text-decoration: none;
  color: #fdf5e5;
  font-weight: 600;
  box-shadow: 5px 5px 5px #9fadc0;
  transition: ease-in-out 2ms;
}

.buy-ticket-button:hover {
  color: #2a3d63;
  background-color: #fdf5e5;
  cursor: pointer;
}

.socials-text {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}
.socials-icon {
  width: 60px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1061px) {
  .couple-name {
    font-size: 25px;
  }
  .programm-listing {
    font-size: 20px;
  }

  .programm-timing {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .first-in-row {
    margin-bottom: 35px;
  }
  .biggest-container {
    background-color: #fdf5e5;
    background-image: none;
    width: 100%;
  }
  .big-container {
    max-width: 90%;
  }

  .programm-listing {
    font-size: 18px;
  }

  .programm-timing {
    font-size: 18px;
  }

  .programm {
    font-size: 32px;
  }

  .debutants {
    font-size: 32px;
  }

  .couple-name {
    font-size: 28px;
  }

  .partners {
    font-size: 32px;
  }

  .debutants-container {
    max-width: 80%;
  }
  .socials-text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .couple-name {
    font-size: 22px;
  }

  .biggest-container {
    background-color: #fdf5e5;
    background-image: none;
    width: 100%;
  }
  .big-container {
    max-width: 90%;
  }

  .programm-listing {
    font-size: 15px;
  }

  .programm-timing {
    font-size: 15px;
  }

  .debutants-container {
    max-width: 90%;
  }
  .buy-ticket-button {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .biggest-container {
    background-color: #fdf5e5;
    background-image: none;
    width: 100%;
  }
  .big-container {
    max-width: 100%;
  }
  img.header {
    border-radius: 0px;
  }
  .programm {
    margin-top: 35px;
  }
  .program-icon {
    height: 30px;
  }

  .programm-listing {
    font-size: 12px;
  }

  .programm-timing {
    font-size: 12px;
  }
  .programm {
    font-size: 20px;
  }

  .debutants {
    font-size: 20px;
  }

  .couple-name {
    font-size: 18px;
  }

  .partners {
    font-size: 20px;
  }

  .debutants-container {
    max-width: 90%;
  }
  .socials-icon {
    width: 40px;
  }
  .socials-text {
    font-size: 20px;
  }
  .buy-ticket-button {
    font-size: 18px;
  }
}
